@import "tailwindcss";
@plugin "daisyui" {
    themes: verdio-light, verdio-dark --default;
}

@plugin "daisyui/theme" {
  name: "verdio-dark";
  default: true;
  color-scheme: dark;
  --color-base-100: oklch(43% 0.095 166.913);
  --color-base-200: oklch(26% 0.051 172.552);
  --color-base-300: oklch(37% 0.077 168.94);
  --color-base-content: oklch(95% 0.052 163.051);
  --color-primary: oklch(62% 0.194 149.214);
  --color-primary-content: oklch(98% 0.018 155.826);
  --color-secondary: #6B9080;
  --color-secondary-content: oklch(95% 0.052 163.051);
  --color-accent: #F6BD60;
  --color-accent-content: #2a1a00;
  --color-neutral: oklch(59% 0.145 163.225);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: #F6BD60;
  --color-warning-content: #2a1a00;
  --color-error: #E07A5F;
  --color-error-content: #ffffff;
  --radius-selector: 0rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "verdio-light";
  default: false;
  color-scheme: light;
  --color-base-100: oklch(98% 0.018 155.826);
  --color-base-200: oklch(96% 0.044 156.743);
  --color-base-300: oklch(92% 0.084 155.995);
  --color-base-content: oklch(39% 0.095 152.535);
  --color-primary: oklch(76% 0.177 163.223);
  --color-primary-content: oklch(26% 0.051 172.552);
  --color-secondary: #6B9080;
  --color-secondary-content: #ffffff;
  --color-accent: #F6BD60;
  --color-accent-content: #2a1a00;
  --color-neutral: oklch(39% 0.095 152.535);
  --color-neutral-content: oklch(98% 0.018 155.826);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: #F6BD60;
  --color-warning-content: #2a1a00;
  --color-error: #E07A5F;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
